/* ------- START QUERIES --------- */

@media  screen and (max-width: 80rem){
    .testimonials{
    padding: 0 1rem;
    }
    .main-nav{
    padding: 1rem 1rem;
    }

    .main-nav__list{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,0.98);
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 0;
    }
    .main-nav__bars{
      display: block;
    }
  }

@media screen and (max-width: 48rem){
  *{
    font-size: 14px;
  }
  .section-testimonials{
    padding: 0 1rem;
  }
  .cta{
    grid-template-columns: 1fr;
  }
  .cta__image{
    display: none;
  }
  .section {
    padding: 4rem 0rem;
  }
  .hero{
    align-items: flex-start;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
  .how__elem--first{
    order: inherit;
  }
}

@media screen and (max-width: 30rem){
  *{
    font-size: 12px;
  }
  .pricing{
    width: 100%;
  }
  .cta__action{
    padding: 2.5rem;
  }
  .meals-review{
    flex-wrap: wrap;
  }

  .button__emoji{
    display: none;
  }
}

/* ------- END QUERIES --------- */